*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.contenedor{
  background: rgb(148, 142, 142);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ingresar{
  background:white;
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.ingresar form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;

}
.ingresar form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 15px;
  outline: none;

}
.ingresar form button{
  padding: 10px 40px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  background: rgb(148, 142, 142) ;
  color: white;
  margin-left: 80px;
}
